*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Source Sans Pro',sans-serif;/*tipo de letra*/
    font-size:0.875em;   
}

header{
    width:100%;
    position:fixed;
    top:0;
    background-color: #fff;
    padding-bottom:0.625em;/*10*/
}/*Se puso position:fixed para que al hacer scroll la imagen siga fija*/

a{
    text-decoration:none;/*para quitarle la raya a los hipervínculos*/
}

main{
    margin-top:9.8em;/*150*/
    padding: 0 5em;/*0 80*/
    overflow:hidden;/*Para que la caja padre, vuelva a contener a los elementos hijos flotados*/
}

section{
    width:25%;/*dándole un espacio a lo ancho determinado*/
    float:left;
}

img{
  max-width:100%;/*para que ocupe todo el espacio*/
  border-radius:0.625em;/*redondear la esquinas*/
}

.box-main{
    padding:0.5625em;/*para generar espacio entre las cajas*/
}

.box-text{
    margin-bottom:0.1875em;
    margin-top:0.4375em;
    overflow:hidden;/*para que vuelva a contener asus elementos hijos*/
}

.circle-color{
    border-radius:3.125em;
    background-color: #d597a1;
    width: 3.125em;
    height: 3.125em;
    text-align:center;
    margin-right:0.3125em;
    float: left; 
}

.user-circle{
    font-size: 1.5625em;
    font-weight: 700;
    color: #fff;
    position: relative;
    top: 0.625em;/*para posicionarlo al centro de circle-color*/
}

.user-name{
    font-weight: 700;/*para resaltar el nombre*/
    display:block;
}

.menu1{    
    list-style:none;/*para quitarle las viñetas*/
    margin:0;
    padding-top:0.9em;
    padding-bottom:0.625em;
    border-bottom: 0.0625em solid #d3d3d3;
    overflow:auto;/*para que vuelva a contener a sus elementos hijos li*/ 
}

li{
    float:left; /*Para mover los elementos a la izquierda y construir el menu1*/   
}

.box-menu1{
     display:inline-block;
     font-weight:bold;
}/*podría haber usado también float o hasta position, pero preferí usar display:inline-block*/

.menu2{
    overflow:hidden;/*para que vuelva a contener a sus elementos hijos .box-menu2*/ 
    margin:0;
    padding-left:9em;
}

.box-menu2{
    width:5em;
    float:left;/*Para mover los elementos a la izquierda y construir el menu2*/ 
    text-align:center;
    color:#fff;
    font-weight:bold;
    border-radius:0.375em;
    margin-top:0.625em;
    margin-left:0.8em;  
}

.box-user{
    padding-top:0.5em;
}

.style-input{/*dándole estilo al input ingresado en HTML*/
    width: 57em;
    height:1.5em;
    background :#EFEFEF;
    border:none;
    font-size:1.0625em;
}

.box-menu2 p{  
    font-size:1.0625em;
}

.box-text h4{
    font-size:1.0625em;    
}

/*dándole color y medidas a los íconos*/
.icon-pinterest-with-circle{
    color:red;
    font-size:3em;/*40*/
}

.icon-user-o{
    font-size:1.3em;
    color:rgba(0,0,0,0.54);
}

.icon-menu{
    font-size:1.6em;
    color:rgba(0,0,0,0.54);
}

.icon-commenting{
    font-size:1.5em;
    color:rgba(0,0,0,0.54);
}

/*ubicando los elementos del .menu1*/
ul li:first-child{

    widht:7em;/**/
    margin-left:6em;
    margin-right:0.9em; 
}

ul li:nth-child(2) {
    margin-left:0.3125em;
    padding:0.625em 0.5em;
    widht:12em;
    background :#EFEFEF;
    border-radius:0.1875em; 
}

ul li:nth-child(3) {
    margin-left: 2.5em;
    padding:0.625em 0.7em;
}

ul li:nth-child(4) {
    margin-left:1.25em;
    padding:0.625em 0.7em;
}
ul li:nth-child(5) {
    margin-left:1.25em;
    padding:0.625em 0.7em;
}

/*ubicando los elementos del .menu2 y dándole color*/
.menu2 .box-menu2:first-child{
    background-color: rgba(150,110,75,.8);
    width:8.125em;
    padding:1.25em  0.3125em;
}

.menu2 .box-menu2:nth-child(2){

    background-color: rgba(194,149,110,.5);
    width:6.5625em;
    padding:1.25em  0.3125em;
}

.menu2 .box-menu2:nth-child(3){

    background-color:#8a532e;
    width:4.6875em;
    padding:1.25em  0.3125em;
}

.menu2 .box-menu2:nth-child(4){

    background-image:url(https://i.stack.imgur.com/DrmAg.jpg);
    width: 4.0625em;
    padding:1.25em  0.3125em;
}

.menu2 .box-menu2:nth-child(5){

    background-color:rgba(150,110,75,.8);
    width:9.1875em;
    padding:1.25em  0.3125em;
}

.menu2 .box-menu2:nth-child(6){

    background-image:url(https://i.stack.imgur.com/DrmAg.jpg);
    width:107px;
    padding:1.25em  0.3125em;
}
.menu2 .box-menu2:nth-child(7){

    background-color:#8a532e;
    width:6.6875em;
    padding:1.25em  0.3125em;
}
.menu2 .box-menu2:nth-child(8){

    background-color:rgba(194,149,110,.5);
    width: 6.625em;
    padding:1.25em  0.3125em;
}
.menu2 .box-menu2:nth-child(9){

    background-color:rgba(150,110,75,.8);;
    width:6em;
    padding:1.25em  0.3125em;
}


