@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?t366f7');
  src:  url('fonts/icomoon.eot?t366f7#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?t366f7') format('truetype'),
    url('fonts/icomoon.woff?t366f7') format('woff'),
    url('fonts/icomoon.svg?t366f7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
  content: "\f007";
}
.icon-commenting:before {
  content: "\f27a";
}
.icon-commenting-o:before {
  content: "\f27b";
}
.icon-user-o:before {
  content: "\f2c0";
}
.icon-chevron-down:before {
  content: "\e900";
}
.icon-cross:before {
  content: "\e901";
}
.icon-magnifying-glass:before {
  content: "\e902";
}
.icon-menu:before {
  content: "\e903";
}
.icon-pinterest-with-circle:before {
  content: "\e904";
}
